*{
    margin: 0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper{
    /*border: 1px solid black;*/
    padding: 1% ; /*padding extend the size of border*/
    width: 80%; 
    margin: 0 auto; /*make the border in the center*/
}
.head{
    text-align:center;
    color: rgb(211, 91, 91);
    margin: 1%;
}
.head:hover{
    color: rgb(51, 51, 11);
}

.clearfix{
    float:none;
    clear:both;

}
.fixaddadmin{
    padding: 50px;
}


.addadmin{
    padding: 1%;
    font-weight: bold;
    background-color: yellow;
}

.addadmin:hover{
    background-color: rgb(173, 79, 95);
}



.tabstyle{
    width: 100%;

}

.tabstyle tr th{
    border-bottom: 1px solid black;
    padding: 1%;
}

.tabstyle tr td{
    padding: 1%;
}


.admin{
    padding: 1%;
    font-weight: bold;
    background-color: rgb(169, 204, 238);
    margin: 1%;
    color: rgb(59, 12, 12);
}
.admin:hover{
    background-color: rgb(46, 47, 141);
}

/*----add admin css*/
.tableadmin{
    margin: 4%;
}
.tableadmin tr td{
    margin: 5%;
}

.menu{
    border-bottom: 1px solid grey;
}

.menu ul {
    list-style-type:none;
    text-align: center;
}

.menu ul li {
    display: inline;
    padding: 3%;
}
.menu ul li a{
    text-decoration:none;
    font-weight:bold;
    color: pink;
}
.menu ul li a:hover {
    color: red;/*change color for menu words*/
}


.center{ /*format for footer*/
    text-align: center;
    padding: 3%; 
}
/*content section*/
.main-content{
    background-color: rgb(226, 146, 226);
    padding: 3%;

}
.column{
    width: 15%;
    background-color: white;
    padding: 10px 25px;
    margin: 2%;
    text-align: center;
    float:left;
}
.footer{
    background-color: rgb(121, 15, 98);
    color: white;
}