*{
    margin: 0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper{
   
    padding: 1% ; /*padding extend the size of border*/
    width: 80%; 
    margin: 0 auto; /*make the border in the center*/
}
 


.text-center{
    text-align:center;
}
/* arrange the pcitures */
.clearfix{
    float:none;
    clear:both;
}

/* css for button */
.buttonadd{
    margin: 2%;
    padding: 1%;
    border-style: outset;
    width: 8%;
    color: red;

}
.buttonadd:hover {
    border-style: inset;
}

/* css for table */
.tabstyle{
    width: 100%;

}


.tabstyle tr th{
    border-bottom: 1px solid black;
    padding: 1%;
}
/* css for button delete/change password/ add addmin  */
.admin{
    padding: 0;
    font-weight: bold;
    background-color: rgb(244, 245, 177);
    margin: 5%;
    color: rgb(233, 127, 127);
}
.admin:hover{
    background-color: rgb(130, 168, 240);
}

.tableadmin tr td{
    margin: 5%;
}

.tableaddadmin{
    width: 40%;
}

.delete{
    color:rgb(223, 218, 217);
}

.error{
    color:rgb(236, 234, 230);
}
.menu{
    border-bottom: 1px solid grey;
}

.menu ul {
    list-style-type:none;

}

.menu ul li {
    display: inline;
    padding: 3%;
}
/* change the color */
.menu ul li a{
    text-decoration:none;
    font-weight:bold;
    color: pink;
}

.menu ul li a:hover {
    color: red;/*change color for menu words*/
}

.main-content{
    background-color: rgb(235, 195, 235);
    padding: 3%;

}
.column{
    width: 15%;
    background-color: white;
    padding: 10px 25px;
    margin: 2%;
    text-align: center;
    float:left;
}

.footer{
    margin: 10%;
    background-color: rgb(121, 15, 98);
    color: white;
    
    
}

/* Login css */
.login{
    border: 1px solid grey;
    width: 30%;
    margin:  5% auto; 
    /* move to the center */
    padding: 2%;
}
